body {
  background-color: #f9f7fe;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  background: white;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.city-list {
  display: flex;
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
  color: #0055d5;
}

.city-list span {
  padding: 4px 8px;
}

.search-form-input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.search-form-button {
  padding: 10px 15px;
  margin-left: 0px;
  border: none;
  border-radius: 1px;
  background-color: #0055d5;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.current-form-button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 1px;
  background-color: #217e30;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.weather-app-city {
  font-size: 32px;
  font-weight: 500;
  color: #555;
  margin-bottom: 10px;
}

.weather-app-temperature-container {
  display: flex;
}
.weather-app-temperature {
  font-size: 70px;
  line-height: 88px;
  font-weight: bold;
}

.weather-forecast {
  font-size: 10px;
  text-transform: capitalize;
  color: #777;
  margin-left: 15px;
  margin-top: 25px;
}

footer {
  text-align: center;
  font-size: 0.8em;
  color: #555;
  margin-top: 20px;
}
footer a {
  color: #b256b2;
  text-decoration: none;
}
